Source: hime
Section: utils
Priority: optional
Maintainer: IME Packaging Team <pkg-ime-devel@lists.debian.org>
Uploaders: Yao Wei (魏銘廷) <mwei@lxde.org>
Standards-Version: 3.9.2
Homepage: http://hime.luna.com.tw
Build-Depends: debhelper (>= 8.0.0), libgtk2.0-dev (>= 2.20.0), libgtk-3-dev,
 libqt4-dev, libchewing3-dev, libxtst-dev, libanthy-dev, autotools-dev
#Vcs-Git: git://git.debian.org/collab-maint/hime.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/hime.git;a=summary

Package: hime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, hime-data
Recommends: im-config | im-switch, hime-gtk3-immodule
Suggests: hime-anthy, hime-chewing, hime-qt4-immodule
Description: GTK+ based input method for Chinese users
 HIME Input Method Editor is a input method platform, which is forked
 from the famous gcin input method.
 .
 This package contains only GTK2 immodule. For GTK3 and Qt4 immodule, 
 please install correspondence packages.

Package: hime-data
Architecture: all
Depends: ${misc:Depends}
Description: GTK+ based input method - input method tables and scripts
 HIME Input Method Editor is a input method platform, which is forked
 from the famous gcin input method.
 .
 This package contains architecture-independent input method tables and
 scripts.

Package: hime-dev
Section: devel
Architecture: all
Depends: ${misc:Depends}, hime (>= ${source:Version})
Description: GTK+ based input method - development files
 HIME Input Method Editor is a input method platform, which is forked
 from the famous gcin input method.
 .
 This package provides header files of HIME.

Package: hime-qt4-immodule
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, hime (>= ${source:Version})
Description: Qt4 input method module with HIME as backend
 HIME Input Method Editor is a input method platform, which is forked
 from the famous gcin input method.
 .
 This package is the Qt4 input method module (immodule) for HIME.

Package: hime-gtk3-immodule
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, hime (>= ${source:Version})
Description: GTK3 input method module with HIME as backend
 HIME Input Method Editor is a input method platform, which is forked
 from the famous gcin input method.
 .
 This package is the GTK3 input method module (immodule) for HIME.

Package: hime-anthy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, hime (>= ${source:Version}), anthy
Description: support library to use Anthy in HIME
 HIME Input Method Editor is a input method platform, which is forked
 from the famous gcin input method.
 .
 This package is the support library to use anthy in HIME.

Package: hime-chewing
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, hime (>= ${source:Version})
Description: support library to use Chewing in HIME
 HIME Input Method Editor is a input method platform, which is forked
 from the famous gcin input method.
 .
 This package is the support library to use chewing in HIME.

