Source: hime
Section: utils
Priority: optional
Maintainer: Yao Wei (魏銘廷) <mwei@lxde.org>
Standards-Version: 3.9.2
Homepage: http://hime.luna.com.tw
Build-Depends: debhelper (>= 8.0.0), libgtk2.0-dev (>= 2.20.0), libxtst-dev, libqt4-dev, libanthy-dev, autotools-dev
#Vcs-Git: git://git.debian.org/collab-maint/hime.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/hime.git;a=summary

Package: hime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: im-switch | im-config, anthy
Description: GTK+ based input method for Chinese users
 <insert long description, indented with spaces>
