#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

GTK2VER = $(shell pkg-config --variable=gtk_binary_version gtk+-2.0)
GTK3VER = $(shell pkg-config --variable=gtk_binary_version gtk+-3.0)

%:
	dh $@ 

override_dh_auto_clean:
	touch config.mak # dirty hack to make Makefile thinks config.mak exists
	make clean
	rm config.mak
 
override_dh_auto_install:
	make install DESTDIR=$(CURDIR)/debian/tmp

	# workaround to move arch-dep tables to /usr/lib
	mv debian/tmp/usr/share/hime/table debian/tmp/usr/lib/hime/
	ln -s /usr/lib/hime/table debian/tmp/usr/share/hime/table

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog

override_dh_makeshlibs:
	dh_makeshlibs -n
